* {
	margin-top: 1.5px;
	margin-bottom: 1.5px;
	padding: 0;

	font-family: sans-serif;
}

body {
	display: flex;
	background-color: #212121;
}

.main {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	flex-direction: row;

	width: 100%;
	height: 100vh;
}

.registre {

	text-align: center;

	width: 500px;
}

.information {

	text-align: center;

	width: 500px;
}

.form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;

	height: 300px;
	width: auto;
}

.reg_in {
	width: 200px;

	display: flex;
	flex-direction: column;
}

.log_in {
	width: 200px;

	display: flex;
	flex-direction: column;
}

input {
	text-align: center;

	width: 200px;
	height: 40px;
	background-color: #454545;
	color: white;

	border: none;
}

button {
	width: 200px;
	height: 50px;
	background-color: #343434;
	color: white;
	border-radius: 2px;
	border: none;
}

p {
	color: white;
}

#reg__succeed,
#login__succeed {
	color: #03fc5a;
}

#error__succeed {
	color: #ad2723;
}

@media (max-width: 1250px) {
	.main {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		flex-direction: column;

		width: 100%;
		height:
	}

	.registre {

		text-align: center;

		width: 300px;
	}

	.information {

		text-align: center;

		width: 300px;
	}
}

@media (max-width: 425px) {
	.registre {

		text-align: center;

		width: 250px;
	}

	.information {

		text-align: center;

		height: 0px;
		width: 0px;

		font-size: 0px;

	}
}